{% extends 'base.html.twig' %}

{% block title %}Add new task{% endblock %}

{% block body %}
<form method="post" class="block">
    <h1 class="h3 mb-3 font-weight-normal">Add new task</h1>
    <div class="row">
        <div class="col-md-6">
            <label for="inputStart">Start date</label>
            <input type="datetime-local" value="" name="start" id="inputStart" class="form-control" autocomplete="start" required>
        </div>
        <div class="col-md-6">
            <label for="inputEnd">End date</label>
            <input type="datetime-local" value="" name="end" id="inputEnd" class="form-control" autocomplete="end" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea type="text" value="" name="description" id="inputDescription" class="form-control" autocomplete="start" required placeholder="Input description.."></textarea>
    </div>
    <div class="form-group">
        <label for="inputReason">Reason</label>
        <select name="reason" id="inputReason" class="form-control" autocomplete="reason" required>
            <option value="DB changes">DB changes</option>
            <option value="infrastructure">infrastructure</option>
            <option value="failures">failures</option>
        </select>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="form-group">
        <button class="btn btn-lg btn-primary" type="submit">
            Add task
        </button>
    </div>
</form>
{% endblock %}
